.radio{
  display: inline-flex;
  align-items: center;
  font-size: 0.9em;
  color: #1e58ff;
  font-weight: 700;
  padding: 20px 10px 0;
  cursor: pointer;
  
  input{
    opacity: 0;
    position: absolute;
  }

  &Button{
    margin-right: 10px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 2px solid #1e58ff;
    cursor: pointer;
    transition: all ease-in-out .2s;
  }

  input:checked + &Button{
    background-color: #1e58ff;
    box-shadow: inset 2px 5px white;
  }
}